html,
body{
    overflow:hidden;
}
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(22, 22, 22);
    z-index: 1;
}
.tholder{
    position:relative;

}
.text12{
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    color: white; 
    text-align: left; 
    z-index: 1000;
}
.h12{
    font-size: 2em; 
    margin-bottom: 20px; 
    width: 300; 
    text-align: left;
}
.p22{
    font-size: 1em; 
    width: 500px; 
    text-align: left; 
}
#text1, #p1, #p2, #p3 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 400px; /* Adjust width as needed */
    overflow-y: auto; /* Enable vertical scroll if content overflows */
    max-height: 200px; /* Set maximum height for scrollable area */
}

#p1, #p2, #p3 {
    top: 80px; /* Adjust top position for subsequent paragraphs */
}

#root {
    position: relative;
}
