
.text-overlay {
    width: 0px;
    max-height: 50vh;
    background: rgba(15, 20, 30, 0.0);
    backdrop-filter: blur(100px);
    color: white;
    padding: 30px ;
    border-radius: 11px;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1000;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    transform: translateY(-50%) translateX(-100%);
    margin-left: 5%;
    margin-right: 1%;
    font-family: 'InterDisplay', sans-serif;
    font-size: 1.2em;
    position: absolute; /* Ensure positioning context */
    top: 20%; /* Base vertical centering */
    left: 0; /* Default left position */
    visibility: hidden; /* Use opacity instead of visibility for smooth fading */
    transition: all 0.0s ease-in-out; /* Animate all changing properties */
  }
  
  .text-overlay.expanded {
    width: 25vw;
    max-height: 50vh;
    visibility: visible;/* Make it visible */
    left: 50%; /* Center horizontally by default */
    transform: translateX(-50%) translateY(-50%); /* Center both axes */
    overflow-y: auto;
    overflow-x: none;
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .text-overlay {
      width: 1vw;
      max-height: 50vh;
      visibility: hidden;
      top: 50%; /* Adjust vertical position for centering */
      left: 0; /* Default position */
    }
    
    .text-overlay.expanded {
      width: 90vw; /* Wider on small screens */
      max-width: 90vw; /* Prevent overflow beyond viewport */
      max-height: 50vh;
      left: 50%; /* Center horizontally */
      top: 50%; /* Center vertically */
      transform: translate(-50%, -50%); /* Center both axes */
      visibility: visible;
      box-sizing: border-box; /* Ensure padding is included in width */
    }
  }
  
  /* Media query for screens smaller than 360px */
  @media (max-width: 360px) {
    .text-overlay {
      width: 1vw;
      max-height:50vh;
      visibility: hidden;
      top: 50%;
      left: 0;
    }
    
    .text-overlay.expanded {
      width: 90vw; /* Adjusted for very small screens */
      max-width: 90vw; /* Prevent overflow */
      max-height: 50vh;
      left: 50%; /* Center horizontally */
      top: 50%; /* Center vertically */
      transform: translate(-50%, -50%); /* Center both axes */
      visibility: visible;
      box-sizing: border-box; /* Ensure padding is included in width */
    }
  }








  
  .toggle-button {
    position: absolute;
    right: 0px;
    top: 50px;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background: rgba(104, 105, 107, 0.0);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 9px 9px 0;
    visibility:visible;

  }
  
  .content-container {
    padding-right: 10px;
 
  }
  
  /* Scrollbar styling */
  .text-overlay::-webkit-scrollbar {
    width: 0px;
  }
  
  .text-overlay::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.0);
    border-radius: 8px;
  }
  
  